<template>
<AdminLayout>
    <form @submit.prevent="addProduct" accept="multipart/form-data" class="container w-100 mt-4">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Kategorie</label>
            <select class="form-select" aria-label="Default select example" v-model="form.category_id">
                <option v-for="category in categories" :value="category.id">
                    {{ category.category_name }}
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Produktname</label>
            <input type="text" v-model="form.name" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Beschreibung</label>
            <textarea class="form-control" v-model="form.description" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group mb-4">
            <label for="exampleFormControlFile1" class="m-1">Produktbild</label>
            <input type="file" @input="form.image = $event.target.files[0]" class="form-control-file"
                id="exampleFormControlFile1">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Menge</label>
            <input type="number" v-model="form.qty" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Preis</label>
            <input type="text" v-model="form.price" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Verkaufspreis</label>
            <input type="text" v-model="form.sale_price" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
        </div>
        <button type="submit" class="bg-blue-500 border border-blue-500 text-white text-decoration-none px-3 py-2 font-medium rounded-md hover:bg-blue-700 transition">Produkt Hinzufügen</button>
    </form>
</AdminLayout>
</template>

<script>
import { Link } from '@inertiajs/vue3';
import AdminLayout from '@/Layouts/AdminLayout.vue';

export default {
    props: {
        categories: Object,
    },
    
    data() {
        return {
            form: this.$inertia.form({
                category_id: null,
                name: null,
                description: null,
                image: null,
                qty: null,
                price: null,
                sale_price: null,
            }),
        };
    },

    components: {
        Link,
        AdminLayout,
    },

    methods: {
        addProduct() {
            this.form.post('/product/create');
        }
    },
}
</script>
