<template>
<AdminLayout>
    <div class="container w-50 mt-4">Produkt Edit</div>
    <form @submit.prevent="updateProduct" accept="multipart/form-data" class="container w-50 mt-4">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Kategorie</label>
            <select class="form-select" aria-label="Default select example" v-model="form.category_id">
                <option v-for="category in categories" :value="category.id">
                    {{ category.category_name }}
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Produktname</label>
            <input type="text" v-model="form.name" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Beschreibung</label>
            <textarea class="form-control" v-model="form.description" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group mb-4">
            <label for="exampleFormControlFile1" class="m-1">Produktbild</label>
            <img :src="'/storage/' + products.image" style="width: 120px; height: 120px;" class="mb-4" />
            <input type="file" @input="form.image = $event.target.files[0]" class="form-control-file"
                id="exampleFormControlFile1">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Menge</label>
            <input type="number" v-model="form.qty" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Preis</label>
            <input type="text" v-model="form.price" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Verkaufspreis</label>
            <input type="text" v-model="form.sale_price" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary">Aktualiserung</button>
    </form>
</AdminLayout>
</template>

<script>
import { Link } from '@inertiajs/vue3';
import AdminLayout from '@/Layouts/AdminLayout.vue';

export default {
    data() {
        return {
            form: this.$inertia.form({
                category_id: this.products.category_id ?? null,
                name: this.products.name ?? null,
                image: null,
                description: this.products.description,
                qty: this.products.qty,
                price: this.products.price,
                sale_price: this.products.sale_price,
            }),
        };
    },

    props: {
        products: Object,
    },

    components: {
        Link,
        AdminLayout,
    },

    methods: {
        updateProduct() {
            this.form.post(`/product/${this.products.id}/update`);
        }
    }
}
</script>