<template>
    <AdminLayout>
        <!-- table -->
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white font-[sans-serif]">
                <thead class="whitespace-nowrap">
                    <tr>
                        <th class="px-6 py-4 text-left text-sm font-semibold text-black">
                            Id
                        </th>
                        <th class="px-6 py-4 text-left text-sm font-semibold text-black">
                            Bild
                        </th>
                        <th class="px-6 py-4 text-left text-sm font-semibold text-black">
                            Produktname
                        </th>
                        <th class="px-6 py-4 text-left text-sm font-semibold text-black">
                            Beschreibung
                        </th>
                        <th class="px-6 py-4 text-left text-sm font-semibold text-black">
                            Menge
                        </th>
                        <th class="px-6 py-4 text-left text-sm font-semibold text-black">
                            Preis
                        </th>
                    </tr>
                </thead>
                <tbody class="whitespace-nowrap">
                    <tr v-for="product in products" :key="product.id" class="odd:bg-blue-50">
                        <td class="px-6 py-3 text-sm">
                            {{ product.id }}
                        </td>
                        <td class="px-6 py-3 text-sm">
                            <div class="flex items-center cursor-pointer">
                        <td><img :src="'/storage/' + product.image" style="width: 90px; height: 50px;" /></td>
        </div>
        </td>
        <td class="px-6 py-3 text-sm">
            {{ product.name }}
        </td>
        <td class="px-6 py-3 text-sm">
            {{ product.description }}
        </td>
        <td class="px-6 py-3 text-sm">
            {{ product.qty }}
        </td>
        <td class="px-6 py-3 text-sm">
            {{ product.price }}
        </td>
        <td class="px-6 py-3">
            <Link :href="`/product/${product.id}/edit`">
            <button class="mr-4" title="Edit">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 fill-blue-500 hover:fill-blue-700"
                    viewBox="0 0 348.882 348.882">
                    <path
                        d="m333.988 11.758-.42-.383A43.363 43.363 0 0 0 304.258 0a43.579 43.579 0 0 0-32.104 14.153L116.803 184.231a14.993 14.993 0 0 0-3.154 5.37l-18.267 54.762c-2.112 6.331-1.052 13.333 2.835 18.729 3.918 5.438 10.23 8.685 16.886 8.685h.001c2.879 0 5.693-.592 8.362-1.76l52.89-23.138a14.985 14.985 0 0 0 5.063-3.626L336.771 73.176c16.166-17.697 14.919-45.247-2.783-61.418zM130.381 234.247l10.719-32.134.904-.99 20.316 18.556-.904.99-31.035 13.578zm184.24-181.304L182.553 197.53l-20.316-18.556L294.305 34.386c2.583-2.828 6.118-4.386 9.954-4.386 3.365 0 6.588 1.252 9.082 3.53l.419.383c5.484 5.009 5.87 13.546.861 19.03z"
                        data-original="#000000" />
                    <path
                        d="M303.85 138.388c-8.284 0-15 6.716-15 15v127.347c0 21.034-17.113 38.147-38.147 38.147H68.904c-21.035 0-38.147-17.113-38.147-38.147V100.413c0-21.034 17.113-38.147 38.147-38.147h131.587c8.284 0 15-6.716 15-15s-6.716-15-15-15H68.904C31.327 32.266.757 62.837.757 100.413v180.321c0 37.576 30.571 68.147 68.147 68.147h181.798c37.576 0 68.147-30.571 68.147-68.147V153.388c.001-8.284-6.715-15-14.999-15z"
                        data-original="#000000" />
                </svg>
            </button>
            </Link>
            <Link @click="destroy(product.id)">
            <button class="mr-4" type="submit" title="Delete">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 fill-red-500 hover:fill-red-700" viewBox="0 0 24 24">
                    <path
                        d="M19 7a1 1 0 0 0-1 1v11.191A1.92 1.92 0 0 1 15.99 21H8.01A1.92 1.92 0 0 1 6 19.191V8a1 1 0 0 0-2 0v11.191A3.918 3.918 0 0 0 8.01 23h7.98A3.918 3.918 0 0 0 20 19.191V8a1 1 0 0 0-1-1Zm1-3h-4V2a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v2H4a1 1 0 0 0 0 2h16a1 1 0 0 0 0-2ZM10 4V3h4v1Z"
                        data-original="#000000" />
                    <path d="M11 17v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Zm4 0v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Z"
                        data-original="#000000" />
                </svg>
            </button>
            </Link>
        </td>
        </tr>
        </tbody>
        </table>
        <div class="md:flex mt-4 px-6">
            <p class="text-sm text-gray-400 flex-1">Showind 1 to 5 of 100 entries</p>
            <div class="flex items-center max-md:mt-4">
                <p class="text-sm text-gray-400">Display</p>
                <select class="text-sm text-gray-400 border border-gray-400 rounded h-7 mx-4 outline-none">
                    <option>5</option>
                    <option>10</option>
                    <option>20</option>
                    <option>50</option>
                    <option>100</option>
                </select>
                <div class="border flex rounded divide-x-2">
                    <button type="button" class="px-4 py-2 hover:bg-gray-200 text-sm">Previous</button>
                    <button type="button" class="px-4 py-2 hover:bg-gray-200 text-sm">Next</button>
                </div>
            </div>
        </div>
        </div>
        <div class="container w-100 mt-4">
            <Link :href="route('createForm')">
            <button type="submit"
                class="bg-blue-500 border border-blue-500 text-white text-decoration-none px-3 py-2 font-medium rounded-md hover:bg-blue-700 transition">Produkt
                Hinzufügen</button>
            </Link>
        </div>
        <!-- table end -->

        <!-- <div class="container w-100 mt-4">
            Produkt
        </div>
        <div class="container w-100 mt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Produktname</th>
                        <th scope="col">Beschreibung</th>
                        <th scope="col">Bild</th>
                        <th scope="col">Menge</th>
                        <th scope="col">Preis</th>
                        <th scope="col">Verkaufspreis</th>
                        <th>Bearbeitung</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="product in products" :key="product.id">
                        <td scope="row">{{ product.id }}</td>
                        <td scope="row">{{ product.name }}</td>
                        <td>
                            <textarea cols="10" rows="4">
                            {{ product.description }}
                        </textarea>
                        </td>
                        <td><img :src="'/storage/' + product.image" style="width: 124px; height: 50px;" /></td>
                        <td scope="row">{{ product.qty }}</td>
                        <td scope="row">{{ product.price }}</td>
                        <td scope="row">{{ product.sale_price }}</td>
                        <td>
                            <Link :href="`/product/${product.id}/edit`">
                            <button type="submit"
                                class="bg-blue-500 border border-blue-500 text-white text-decoration-none px-3 py-2 font-medium rounded-md hover:bg-blue-700 transition">Bearbeitung</button>
                            </Link>
                            <Link @click="destroy(product.id)">
                            <button type="submit"
                                class="bg-blue-500 border border-blue-500 text-white text-decoration-none px-3 py-2 font-medium rounded-md hover:bg-blue-700 transition"
                                as="button">Löschen</button>
                            </Link>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> -->
    </AdminLayout>
</template>

<script>
import { Link } from '@inertiajs/vue3';
import AdminLayout from '@/Layouts/AdminLayout.vue';

export default {
    props: {
        products: Object,
    },

    components: {
        Link,
        AdminLayout,
    },

    methods: {
        destroy(id) {
            this.$inertia.post(`/product/${id}/delete`, id)
        }
    },
}
</script>
