<template>
<AdminLayout>
    <form @submit.prevent="addCategory" accept="multipart/form-data" class="container w-100 mt-4">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Kategoriename</label>
            <input type="text" v-model="form.category_name" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
        </div>
        <div class="form-group mb-4">
            <label for="exampleFormControlFile1" class="m-1">Bild</label>
            <input type="file" @input="form.image = $event.target.files[0]" class="form-control-file"
                id="exampleFormControlFile1">
        </div>
        <button type="submit" class="btn btn-primary">Kategorie Hinzufügen</button>
    </form>
</AdminLayout>
</template>

<script>
import { Link } from '@inertiajs/vue3';
import AdminLayout from '@/Layouts/AdminLayout.vue';

export default {
    props: {
        categories: Object,
    },
    
    data() {
        return {
            form: this.$inertia.form({
                category_name: null,
                image: null,
            }),
        };
    },

    components: {
        Link,
        AdminLayout,
    },

    methods: {
        addCategory() {
            this.form.post('/category/create');
        }
    },
}
</script>