<template>
    <AdminLayout>
        <div class="container w-100 mt-4">
            Kategorie
        </div>
        <div class="container w-100 mt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Kategoriename</th>
                        <th scope="col">Bild</th>
                        <th>Bearbeitung</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="category in categories" :key="category.id">
                        <td scope="row">{{ category.id }}</td>
                        <td scope="row">{{ category.category_name }}</td>
                        <td><img :src="'/storage/' + category.image" style="width: 124px; height: 50px;" /></td>
                        <td>
                            <Link :href="`/category/${category.id}/edit`">
                            <button type="submit" class="btn btn-primary">Bearbeitung</button>
                            </Link>
                            <Link @click="destroy(category.id)">
                            <button type="submit" class="btn btn-primary m-1" as="button"
                                >Löschen</button>
                            </Link>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container w-100 mt-4">
            <Link :href="route('createCategorie')">
            <button type="submit" class="btn btn-primary">Kategorie Hinzufügen</button>
            </Link>
        </div>
    </AdminLayout>
    </template>
    
    <script>
    import { Link } from '@inertiajs/vue3';
    import AdminLayout from '@/Layouts/AdminLayout.vue';
    
    export default {
        props: {
            categories: Object,
        },
    
        components: {
            Link,
            AdminLayout,
        },
    
        // methods: {
        //     destroy(id) {
        //         this.$inertia.post(`/product/${id}/delete`, id)
        //     }
        // },
    }
    </script>
    