<template>
<AdminLayout>
    <form @submit.prevent="addSlider" accept="multipart/form-data" class="container w-50 mt-4">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Title</label>
            <input type="text" v-model="form.title" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Beschreibung</label>
            <textarea class="form-control" v-model="form.description" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Schaltflächenname</label>
            <input type="text" v-model="form.btn_name" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Schaltflächen Link</label>
            <input type="text" v-model="form.btn_link" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Position</label>
            <input type="text" v-model="form.slider_position" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
        </div>
        <div class="form-group mb-4">
            <label for="exampleFormControlTextarea1" class="form-label">Bild</label><br>
            <input type="file" @input="form.image = $event.target.files[0]" class="form-control-file mt-1"
                id="exampleFormControlFile1">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlFile1" class="mb-1">Status</label>
            <select class="form-control" v-model="form.status">
                <option value="1" selected>Aktive</option>
                <option value="0">Deaktive</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Brand Hinzufügen</button>
    </form>
</AdminLayout>
</template>

<script>
import { Link, router, usePage } from '@inertiajs/vue3';
import AdminLayout from '@/Layouts/AdminLayout.vue';

export default {
    data() {
        return {
            form: this.$inertia.form({
                title: null,
                slider_position:null,
                image: null,
                description: null,
                btn_name: null,
                btn_link: null,
                status: null,
            }),
        };
    },

    components: {
        Link,
        AdminLayout,
    },

    methods: {
        addSlider() {
            this.form.post('/slider/create');
        }
    },
}
</script>