<template> 
    <AdminLayout>        
    <div class="container w-100">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Beschreibung</th>
                    <th scope="col">Bild</th>
                    <th scope="col">Schaltflächenname</th>
                    <th scope="col">Status</th>
                    <th scope="col">Position</th>
                    <th>Bearbeitung</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="slider in sliders" :key="slider.id">
                    <th scope="row">{{ slider.id }}</th>
                    <th scope="row">{{ slider.title }}</th>
                    <td><textarea cols="30" rows="4">
                        {{ slider.description }}
                    </textarea></td>
                    <td><img :src="'/storage/' + slider.image" style="width: 190px; height: 50px;" /></td>
                    <th scope="row">{{ slider.btn_name }}</th>
                    <th scope="row">
                        <span v-if="slider.status == true" class="badge text-bg-success">Aktive</span>
                        <span v-else="slider.status == false" class="badge text-bg-danger">Deaktive</span>
                    </th>
                    <th scope="row">{{ slider.position }}</th>
                    <td>
                        <Link :href="`/slider/${slider.id}/edit`">
                        <button type="submit" class="btn btn-primary">Bearbeitung</button>
                        </Link>
                    </td>
                    <td>
                        <Link @click="destroy(slider.id)">
                        <button type="submit" class="btn btn-primary" as="button"
                            >Löschen</button>
                        </Link>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container w-100 mt-4">
        <Link :href="route('createSlider')">
        <button type="submit" class="btn btn-primary">Slider Hinzufügen</button>
        </Link>
    </div>
    </AdminLayout>
    </template>
    
    <script>
    import { Link } from '@inertiajs/vue3';
    import AdminLayout from '@/Layouts/AdminLayout.vue';
    
    export default {
        props: {
        sliders: Object,
    },
        components: {
            Link,
            AdminLayout,
        },

        methods: {
        destroy(id) {
            this.$inertia.post(`/slider/${id}/delete`, id)
        }
    },
    
    }
    </script>
    
