<template>
        <!-- banner -->
        <div class="bg-cover bg-no-repeat bg-center py-36"
            style="background-image: url('assets/frontend/img/banner-bg.jpg');">
            <div class="container">
                <h1 class="text-6xl text-gray-800 font-medium mb-4 capitalize">
                    best collection <br> home decoration
                </h1>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
                <div class="mt-12">
                    <a href=""
                        class="bg-blue-500 border border-blue-500 text-white text-decoration-none px-4 py-3 font-medium rounded-md hover:bg-blue-700 transition">Jetzt
                        einkaufen</a>
                </div>
            </div>
        </div>
        <!-- banner end -->

</template>

<script>
</script>