<template>
    <FrontendLayout>
        <!-- cart -->
        <div v-if="$page.props.flash.message" id="toast-success"
            class="flex items-center w-full max-w-xs p-4 mb-4 mx-auto mt-2 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800"
            role="alert">
            <div
                class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                    viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                </svg>
                <span class="sr-only">Check icon</span>
            </div>
            <div class="ml-3 text-sm font-normal">{{ $page.props.flash.message }}</div>
            <button type="button"
                class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
                data-dismiss-target="#toast-success" aria-label="Close">
                <span class="sr-only">Close</span>
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                </svg>  
            </button>
        </div>

        <div class="bg-gray-100 h-screen py-8">
            <div class="container mx-auto px-4">
                <h1 class="text-2xl font-semibold mb-4">Einkaufswagen</h1>
                <div class="flex flex-col md:flex-row gap-4">
                    <div class="md:w-3/4">
                        <div class="bg-white rounded-lg shadow-md p-6 mb-4">
                            <table class="w-full">
                                <thead>
                                    <tr>
                                        <th class="text-left font-semibold">Produkt</th>
                                        <th class="text-left font-semibold">Preis</th>
                                        <th class="text-left font-semibold">Menge</th>
                                        <th class="text-left font-semibold">Gesamtbetrag</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="cartItem in cartItem" :key="cartItem.id">
                                        <td class="py-4">
                                            <div class="flex items-center">
                                                <img :src="'/storage/' + cartItem.image"
                                                    style="height: 100px; width: 100px;" />
                                                <span class="font-semibold">{{ cartItem.name }}</span>
                                            </div>
                                        </td>
                                        <td class="py-4">{{ cartItem.price }} €</td>
                                        <td class="py-4">
                                            <div class="flex items-center">
                                                <button @click="decreaseValue" class="border rounded-md py-2 px-4 mr-2"
                                                    id="decrease">-</button>
                                                <input type="text" id="number" :value="cartItem.qty"
                                                    style="width: 40px; text-align: center;">
                                                <button @click="increaseValue" class="border rounded-md py-2 px-4 ml-2"
                                                    id="increase">+</button>
                                            </div>
                                            <button @click="updateQty(cartItem.id)"
                                                class="bg-blue-500 border rounded-md text-white py-2 px-4 mt-1">Update</button>
                                        </td>
                                        <td class="py-4">{{ cartItem.price }} €
                                            <Link :href="`/delete-from-cart/${cartItem.id}`" class="fas fa-trash ml-12">
                                            </Link>
                                        </td>
                                    </tr>
                                    <!-- More product rows -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="md:w-1/4">
                        <div class="bg-white rounded-lg shadow-md p-6">
                            <h2 class="text-lg font-semibold mb-4">Zusammenfassung</h2>
                            <div class="flex justify-between mb-2">
                                <span>Artikel</span>
                                <span>{{ totalPrice }} €</span>
                            </div>
                            <div class="flex justify-between mb-2">
                                <span>Shipping</span>
                                <span>10,00 €</span>
                            </div>
                            <hr class="my-2">
                            <div class="flex justify-between mb-2">
                                <span class="font-semibold">Gesamtbetrag</span>
                                <span class="font-semibold">{{ totalPrice }} €</span>
                            </div>
                            <button
                                class="bg-blue-500 border border-primary text-white px-8 rounded hover:bg-blue-700 font-weight-bold my-2 py-2 transition">
                                Jetzt kaufen
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- cart end -->
    </FrontendLayout>
</template>

<script>
import { Link } from '@inertiajs/vue3';
import FrontendLayout from '@/Layouts/FrontendLayout.vue';

export default {

    data() {
        return {
            form: this.$inertia.form({
                id: null,
                qty: null,
            }),
        };
    },

    components: {
        Link,
        FrontendLayout,
    },

    props: {
        cartItem: Object,
        totalPrice: Object,
    },

    methods: {
        increaseValue() {
            var value = parseInt(document.getElementById('number').value, 10);
            value = isNaN(value) ? 0 : value;

            value++;

            document.getElementById('number').value = value;
        },

        decreaseValue() {
            var value = parseInt(document.getElementById('number').value, 10);
            value = isNaN(value) ? 0 : value;

            value < 1 ? value = 1 : '';

            if (value > 1) {

                value--;

            }

            document.getElementById('number').value = value;
        },

        updateQty($id) {

            var value = parseInt(document.getElementById('number').value);

            this.form.qty = value;

            this.form.id = $id;

            this.$inertia.post(`/update-product-qty`, this.form)
        },
    },



}
</script>