<template>
        <!-- categories -->
        <div class="container py-16">
            <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">Kategories</h2>
            <div class="grid grid-cols-4 gap-4">
                <!-- single category -->
                <div class="relative rounded-sm overflow-hidden group"> 
                    <img :src="('assets/frontend/img/category/category-1.jpg')" class="w-full">
                    <a href="" class="absolute inset-0 text-decoration-none bg-gray-40 bg-opacity-40 flex items-center justify-center text-xl text-white font-medium group-hover:bg-opacity-60">Computer</a>
                </div>
                <!-- single category end -->
                                <!-- single category -->
                                <div class="relative rounded-sm overflow-hidden group">
                    <img :src="('assets/frontend/img/category/category-1.jpg')" class="w-full">
                    <a href="" class="absolute inset-0 text-decoration-none bg-gray-40 bg-opacity-40 flex items-center justify-center text-xl text-white font-medium group-hover:bg-opacity-60">Computer</a>
                </div>
                <!-- single category end -->
                                <!-- single category -->
                                <div class="relative rounded-sm overflow-hidden group">
                    <img :src="('assets/frontend/img/category/category-1.jpg')" class="w-full">
                    <a href="" class="absolute inset-0 text-decoration-none bg-gray-40 bg-opacity-40 flex items-center justify-center text-xl text-white font-medium group-hover:bg-opacity-60">Computer</a>
                </div>
                <!-- single category end -->
                                <!-- single category -->
                                <div class="relative rounded-sm overflow-hidden group">
                    <img :src="('assets/frontend/img/category/category-1.jpg')" class="w-full">
                    <a href="" class="absolute inset-0 text-decoration-none bg-gray-40 bg-opacity-40 flex items-center justify-center text-xl text-white font-medium group-hover:bg-opacity-60">Computer</a>
                </div>
                <!-- single category end -->
            </div>
        </div>
        <!-- categories end --> 
</template>

<script>
import { Link } from '@inertiajs/vue3';
    
 export default {
    components: {
        Link,
    },
    
}
</script>