<template>
        <!-- footer -->
        <footer class="bg-white pt-16 pb-12 border-t border-gray-100">
            <div class="container grid grid-cols-3">
                <div class="col-span-1 space-y-8">
                    <img :src="('assets/frontend/img/logo.svg')" class="w-30">
                    <p class="text-gray-500">
                        Lorem Ipsum is simply dummy text of the <br>
                        printing and typesetting industry.
                    </p>
                    <div class="flex space-x-6">
                        <a href="" class="text-gray-400 hover:text-gray-500">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="" class="text-gray-400 hover:text-gray-500">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="" class="text-gray-400 hover:text-gray-500">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
                <div class="col-span-2 grid grid-cols-4 gap-8">
                    <div class="grid grid-cols-2 gap-8">
                        <div>
                            <h3 class="text-sm text-gray-400 uppercase tracking-wider">Solutions</h3>
                            <div class="mt-4 space-y-4"></div>
                            <a href="" class="text-base text-gray-500 hover:text-gray-900 block">marketing</a>
                        </div>
                    </div>
                    <div class="grid grid-cols-2 gap-8">
                        <div>
                            <h3 class="text-sm text-gray-400 uppercase tracking-wider">Support</h3>
                            <div class="mt-4 space-y-4"></div>
                            <a href="" class="text-base text-gray-500 hover:text-gray-900 block">marketing</a>
                        </div>
                    </div>
                    <div class="grid grid-cols-2 gap-8">
                        <div>
                            <h3 class="text-sm text-gray-400 uppercase tracking-wider">Solutions</h3>
                            <div class="mt-4 space-y-4"></div>
                            <a href="" class="text-base text-gray-500 hover:text-gray-900 block">marketing</a>
                        </div>
                    </div>
                    <div class="grid grid-cols-2 gap-8">
                        <div>
                            <h3 class="text-sm text-gray-400 uppercase tracking-wider">Solutions</h3>
                            <div class="mt-4 space-y-4"></div>
                            <a href="" class="text-base text-gray-500 hover:text-gray-900 block">marketing</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer end -->
</template>

<script>
</script>