<template>
        <!-- feature section -->
        <div class="container py-16">
            <div class="w-10/12 grid grid-cols-3 gap-6 mx-auto justify-center">
                <!-- single feature -->
                <div class="border-1 border-blue-700 rounded-sm px-3 py-6 flex justify-center items-center gap-5">
                    <img :src="('assets/frontend/img/icons/delivery-van.svg')" class="w-12 h-12 object-contain">
                    <div>
                        <h4 class="font-medium capitalize text-lg">Gratis einkaufen</h4>
                        <p class="text-gray-500 text-sm">order over 132</p>
                    </div>
                </div>
                <div class="border-1 border-blue-700 rounded-sm px-3 py-6 flex justify-center items-center gap-5">
                    <img :src="('assets/frontend/img/icons/money-back.svg')" class="w-12 h-12 object-contain">
                    <div>
                        <h4 class="font-medium capitalize text-lg">Gratis einkaufen</h4>
                        <p class="text-gray-500 text-sm">order over 132</p>
                    </div>
                </div>
                <div class="border-1 border-blue-700 rounded-sm px-3 py-6 flex justify-center items-center gap-5">
                    <img :src="('assets/frontend/img/icons/service-hours.svg')" class="w-12 h-12 object-contain">
                    <div>
                        <h4 class="font-medium capitalize text-lg">Gratis einkaufen</h4>
                        <p class="text-gray-500 text-sm">order over 132</p>
                    </div>
                </div>
                <!-- single feature end -->
            </div>
        </div>
        <!-- feature section end -->

</template>

<script>
</script>