<template>
    <!-- header -->
    <header class="py-4 shadow-sm bg-white">
        <div class="container flex items-center justify-between">
            <!-- logo -->
            <Link :href="route('/')">
            <img :src="('assets/frontend/img/logo.svg')" class="w-32">
            </Link>

            <!-- search -->
            <div class="w-full max-w-xl relative flex">
                <span class="absolute left-4 top-3 text-lg text-gray-400">
                    <i class="fas fa-search"></i>
                </span>
                <input type="text"
                    class="w-full border border-primary border-r-0 pl-12 py-2.5 pr-3 rounded-l-md focus:outline-none">
                <button
                    class="bg-blue-500 border border-primary text-white px-8 rounded-r-md hover:bg-blue-700 transition">Suche</button>
            </div>

            <!-- icons -->
            <div class="flex item-center space-x-4">
                <Link :href="route('wishlist')" v-if="$page.props.auth.isLoggedIn"
                    class="text-center text-gray-700 text-decoration-none hover:text-primary transition relative">
                <div class="text-2xl">
                    <i class="far fa-heart"></i>
                </div>
                <span
                    class="absolute right-0 -top-1 w-4 h-5 rounded-full flex items-center justify-center bg-white text-blue-500 text-lg">4</span>
                </Link>
                <Link :href="route('cartView')"
                    class="text-center text-gray-700 text-decoration-none hover:text-primary transition relative">
                <div class="text-2xl">
                    <i class="fas fa-shopping-bag"></i>
                </div>
                <span
                    class="absolute -right-3 -top-1 w-4 h-5 rounded-full flex items-center justify-center bg-white text-blue-500 text-lg">
                    0</span>
                </Link>
                <Link :href="route('account')"
                    class="text-center text-gray-700 text-decoration-none hover:text-primary transition relative">
                <div class="text-2xl ml-2">
                    <i class="far fa-user"></i>
                </div>
                </Link>
            </div>
        </div>
    </header>
    <!-- header end -->

    <!-- navbar -->
    <nav class="bg-gray-800">
        <div class="container flex">
            <!-- all category -->
            <div class="px-8 py-4 bg-blue-500 flex items-center cursor-pointer relative group">
                <span class="text-white">
                    <i class="fas fa-bars"></i>
                </span>
                <span class="capitalize ml-2 text-white">Alle Kategorien</span>

                <div
                    class="absolute w-full left-0 top-full  bg-white shadow-md py-2 divide-y divide-gray-300 hidden group-hover:block">
                    <a href="" class="flex items-center px-6 py-3 hover:bg-gray-100 transition">
                        <img :src="('assets/frontend/img/icons/sofa.svg')" class="w-5 h-5 object-contain">
                        <span class="ml-6 text-gray-600 text-sm">Sofa</span>
                    </a>
                    <a href="" class="flex items-center px-6 py-3 hover:bg-gray-100 transition">
                        <img :src="('assets/frontend/img/icons/sofa.svg')" class="w-5 h-5 object-contain">
                        <span class="ml-6 text-gray-600 text-sm">Sofa</span>
                    </a>
                    <a href="" class="flex items-center px-6 py-3 hover:bg-gray-100 transition">
                        <img :src="('assets/frontend/img/icons/sofa.svg')" class="w-5 h-5 object-contain">
                        <span class="ml-6 text-gray-600 text-sm">Sofa</span>
                    </a>
                    <a href="" class="flex items-center px-6 py-3 hover:bg-gray-100 transition">
                        <img :src="('assets/frontend/img/icons/sofa.svg')" class="w-5 h-5 object-contain">
                        <span class="ml-6 text-gray-600 text-sm">Sofa</span>
                    </a>
                </div>
            </div>
            <!-- all category end -->

            <!-- navbar links-->
            <div class="flex items-center justify-between flex-grow pl-12">
                <div class="flex items-center space-x-6 capitalize">
                    <Link :href="route('/')" class="text-gray-200 text-decoration-none hover:text-white transition">Home</Link>
                    <Link :href="route('shop')" class="text-gray-200 text-decoration-none hover:text-white transition">Shop</Link>
                    <Link href="" class="text-gray-200 text-decoration-none hover:text-white transition">Über uns</Link>
                    <Link href="" class="text-gray-200 text-decoration-none hover:text-white transition">Kontakt</Link>
                </div>
                <div class="order-2 md:order-3">
                    <Link href="/logout" method='post' v-if="$page.props.auth.isLoggedIn">
                        <button
                            class="px-4 py-2 bg-blue-500 hover:bg-blue-800 text-gray-50 rounded-xl flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 21" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75" />
                            </svg>
                            <span>Logout</span>
                    </button>
                    </Link>
                </div>
            </div>
        </div>
    </nav>
    <!-- navbar end-->
</template>

<script>
import { Link } from '@inertiajs/vue3';

export default {
    components: {
        Link,
    },

    props: {
        user: Object,
        cartItem: Object,
    },

}

</script>