<template>
        <!-- product -->
        <!-- single product -->
        <div class="container pb-16">
            <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">Top product</h2>
            <div class="grid grid-cols-4 gap-6">
                <div class="bg-white shadow rounded overflow-hidden group">
                    <div class="relative">
                        <img :src="('assets/frontend/img/products/product-1.jpg')" class="w-full">
                        <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 hover:!opacity-100 transition">
                            <Link :href="route('product_detail')" class="text-white text-lg text-decoration-none w-9 h-8 rounded-full bg-blue-500 flex items-center justify-center hover:bg-gray-800 transition">
                                <i class="fas fa-eye"></i>
                            </Link>
                            <a href="" class="text-white text-lg text-decoration-none w-9 h-8 rounded-full bg-blue-500 flex items-center justify-center hover:bg-gray-800 transition">
                                <i class="far fa-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="pt-4 pb-3 px-4">
                        <a href="">
                            <p class="uppercase font-medium text-xl text-decoration-none mb-2 text-gray-800">
                                deneme
                            </p>
                        </a>
                        <div class="flex items-baseline mb-1 space-x-2">
                            <p class="text-xl text-blue-500">104.00 €</p>
                            <p class="text-sm text-gray-400 line-through">224.00 €</p>
                        </div>
                        <div class="flex items-center">
                            <div class="flex gap-1 text-sm text-yellow-400">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                            </div>
                            <div class="text-xs text-gray-500 ml-3">(32)</div>
                        </div>
                        <Link href="" class="block w-full py-2 mt-2 text-decoration-none text-center text-white bg-blue-500 border border-blue-500 rounded-md hover:bg-blue-800 transition">
                            In den Warenkorb</Link>
                    </div>
                </div>
            </div>
        </div>
        <!-- single product ends -->
        <!-- product en -->
</template>

<script>
import { Link } from '@inertiajs/vue3';
import FrontendLayout from '@/Layouts/FrontendLayout.vue';
    
 export default {
    components: {
        Link,
        FrontendLayout,
    },

    props: {
        products: Object,
    },
    
}
</script>