<template>
    <FrontendLayout>
        <!-- product detail -->
        <div class="container grid grid-cols-2 gap-6 mt-12 mb-12">
            <div>
                <img :src="('assets/frontend/img/products/product-1.jpg')" class="w-full">
                <div class="grid grid-cols-5 gap-4 mt-4">
                    <img :src="('assets/frontend/img/products/product-2.jpg')"
                        class="w-full cursor-pointer border border-blue-500">
                    <img :src="('assets/frontend/img/products/product-3.jpg')" class="w-full cursor-pointer border">
                    <img :src="('assets/frontend/img/products/product-4.jpg')" class="w-full cursor-pointer border">
                    <img :src="('assets/frontend/img/products/product-7.jpg')" class="w-full cursor-pointer border">
                </div>
            </div>
            <div>
                <h2 class="text-3xl font-medium uppercase mb-2">Produkttitle</h2>
                <div class="flex items-center mb-4">
                    <div class="flex gap-1 text-sm text-yellow-400">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                    </div>
                    <div class="text-xs text-gray-500 ml-3">(24)</div>
                </div>
                <div class="space-y-2">
                    <p class="text-gray-800 space-x-2">
                        <span>Status:</span>
                        <span class="text-green-700">in Stock</span>
                    </p>
                    <p class="text-gray-800 space-x-2">
                        <span>Brand:</span>
                        <span class="text-gray-600">deneme</span>
                    </p>
                    <p class="text-gray-800 space-x-2">
                        <span>Kategorie:</span>
                        <span class="text-gray-600">Computer</span>
                    </p>
                </div>
                <div class="flex items-baseline mb-1 space-x-2 mt-4">
                    <p class="text-xl text-blue-500">104</p>
                    <p class="text-sm text-gray-400 line-through">224</p>
                </div>
                <p class="mt-4 text-gray-600">
                    Lorem Ipsum is simply dummy text of the printing and typesettingw.
                </p>
                <div class="mt-4">
                    <h3 class="text-sm text-gray-800 mb-1">Stückzahl</h3>
                    <div class="flex border border-gray-300 text-gray-600 divide-x divide-gray-300 w-max">
                        <div class="h-8 w-8 text-xl flex items-center justify-center cursor-pointer select-none">-</div>
                        <div class="h-8 w-8 text-xl flex items-center justify-center cursor-pointer select-none">1</div>
                        <div class="h-8 w-8 text-xl flex items-center justify-center cursor-pointer select-none">+</div>
                    </div>
                </div>
                <div class="flex gap-3 border-b border-gray-200 pb-5 mt-6">
                    <a href=""
                        class="bg-blue-500 border border-blue-500 text-decoration-none text-white px-4 py-2 font-medium rounded flex items-center gap-2 hover:bg-blue-800 transition">
                        <i class="fas fa-shopping-bag"></i>In den Warenkorb
                    </a>
                    <a href=""
                        class="bg-blue-500 border border-blue-500 text-decoration-none text-white px-4 py-2 font-medium rounded flex items-center gap-2 hover:bg-blue-800 transition">
                        <i class="fas fa-heart"></i>Wishlist
                    </a>
                </div>
            </div>
        </div>
        <!-- product detail end -->
    </FrontendLayout>
</template>

<script>
import { Link } from '@inertiajs/vue3';
import FrontendLayout from '@/Layouts/FrontendLayout.vue';

export default {
    components: {
        Link,
        FrontendLayout,
    },

    props: {
        products: Object,
    },

}
</script>