<template>
<FrontendLayout>
        <!-- register -->
            <div class="container py-16">
                <div class="max-w-lg mx-auto shadow px-6 py-7 rounded overflow-hidden">
                    <h2 class="text-2xl uppercase font-medium mb-4">Registrieren</h2>
                <form @submit.prevent="register">
                    <div class="space-y-4">
                    <div>
                        <label for="text" class="text-gray-600 mb-2 block">Vorname</label>
                        <input type="text" v-model="form.name" class="block w-full border border-gray-300 px-4 py-2 text-gray-600 text-sm rounded focus:ring-1 focus:border-blue-500">
                        <div v-if="errors.name" class="text-red-500">
                            {{ errors.name }}
                        </div>
                    </div>
                    <div>
                        <label for="email" class="text-gray-600 mb-2 block">Email adresse</label>
                        <input type="email" v-model="form.email" class="block w-full border border-gray-300 px-4 py-2 text-gray-600 text-sm rounded focus:ring-1 focus:border-blue-500">
                        <div v-if="errors.name" class="text-red-500">
                            {{ errors.email }}
                        </div>
                    </div>
                    <div>
                        <label for="password" class="text-gray-600 mb-2 block">Passwort</label>
                        <input type="password" v-model="form.password" class="block w-full border border-gray-300 px-4 py-2 text-gray-600 text-sm rounded focus:ring-1 focus:border-blue-500">
                        <div v-if="errors.name" class="text-red-500">
                            {{ errors.password }}
                        </div>
                    </div>
                    </div>
                    <div class="mt-4">
                        <button type="submit" class="block w-full py-2 text-center text-white bg-blue-500 border border-blue-500 rounded hover:bg-blue-800 transition">
                            Registrieren
                        </button>
                    </div>
                </form>
                </div>
            </div>
        <!-- register end -->
</FrontendLayout>
</template>
    
<script>
import { Link, useForm } from '@inertiajs/vue3';
import FrontendLayout from '@/Layouts/FrontendLayout.vue';
    
 export default {
    
    components: {
        Link,
        FrontendLayout,
    },

    props: {
        errors: Object,
    },

    data() {
        return {
            form: this.$inertia.form({
                name: '',
                email: '',
                password: '',
            }),
        };
    },

    // setup(){
    //     const form = useForm({
    //         name: '',
    //         email: '',
    //         password: '',
    //     })

    //     return {form}
    // },

    methods: {
        register() {
            this.$inertia.post(`/register`, this.form)
        }
    },
    
}
</script>
