<template>
    <FrontendLayout>
        <!-- user -->
        <div class="container grid grid-cols-12 items-start gap-6 pt-4 pb-16">
            <div class="col-span-3">
                <div class="px-4 py-3 shadow flex items-center gap-4">
                    <div class="flex-shrink-0">
                        <img :src="('assets/frontend/img/avatar.png')" class="rounded-full w-14 h-14">
                    </div>
                    <div class="flex-grow">
                        <p class="text-gray-600">Willkommen</p>
                        <h4 v-if="$page.props.auth.isLoggedIn" class="text-gray-800 font-medium">{{ $page.props.user.name }}</h4>
                        <h4 v-else="!$page.props.auth.isLoggedIn" class="text-gray-800 font-medium">deneme</h4>
                    </div>
                </div>
                <div class="mt-6 bg-white shadow rounded p-4 divide-y divide-gray-200 space-y-4 text-gray-600">
                    <!-- single -->
                    <div class="space-y-1 pl-8">
                        <a href="" class="relative text-blue-500 block font-medium capitalize transition">
                            <span class="absolute -left-8 top-0 text-base">
                                <i class="far fa-address-card"></i>
                            </span>
                            manage account
                        </a>
                        <a href="" class="relative text-blue-500 block  hover:text-blue-800 capitalize transition">
                            my order
                        </a>
                        <a href="" class="relative text-blue-500 block  hover:text-blue-800 capitalize transition">
                            profile
                        </a>
                        <a href="" class="relative text-blue-500 block  hover:text-blue-800 capitalize transition">
                            password change
                        </a>
                    </div>
                    <!-- single end -->
                    <!-- single -->
                    <div class="space-y-1 pl-8 pt-2">
                        <a href="" class="relative text-blue-500 block font-medium hover:text-blue-800 capitalize transition">
                            <span class="absolute -left-8 top-0 text-base">
                                <i class="far fa-heart"></i>
                            </span>
                            my wishlist
                        </a>
                    </div>
                    <!-- single end -->
                     <!-- single -->
                        <div class="space-y-1 pl-8 pt-2">
                            <Link href="/logout" method="post" class="relative text-decoration-none text-blue-500 block font-medium hover:text-blue-800 capitalize transition">
                                <span class="absolute -left-8 top-0 text-base">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                </span>
                                logout
                            </Link>
                        </div>
                    <!-- single end -->
                </div>
            </div>

            <div class="col-span-9 grid grid-cols-1 gap-4">
                <div class="shadow rounded bg-white px-4 pt-6 pb-8"></div>
            </div>

        </div>
        <!-- user end -->
    </FrontendLayout>
    </template>
        
    <script>
    import { Link} from '@inertiajs/vue3';
    import FrontendLayout from '@/Layouts/FrontendLayout.vue';
        
     export default {

        components: {
            Link,
            FrontendLayout,
        },

        methods: {
            logout() {
                this.form.post('/logout');
            }
    },
        
    }
    </script>