<template>
    <FrontendLayout>
        <!-- user -->
        <div class="container grid grid-cols-12 items-start gap-6 pt-4 pb-16">
            <div class="col-span-3">
                <div class="px-4 py-3 shadow flex items-center gap-4">
                    <div class="flex-shrink-0">
                        <img :src="('assets/frontend/img/avatar.png')" class="rounded-full w-14 h-14">
                    </div>
                    <div class="flex-grow">
                        <p class="text-gray-600">Willkommen</p>
                        <h4 v-if="$page.props.auth.isLoggedIn" class="text-gray-800 font-medium">{{
                            $page.props.user.name }}</h4>
                        <h4 v-else="!$page.props.auth.isLoggedIn" class="text-gray-800 font-medium">{{ $page.props.user.name }}</h4>
                    </div>
                </div>
                <div class="mt-6 bg-white shadow rounded p-4 divide-y divide-gray-200 space-y-4 text-gray-600">
                    <!-- single -->
                    <div class="space-y-1 pl-8">
                        <a href="" class="relative text-blue-500 block font-medium capitalize transition">
                            <span class="absolute -left-8 top-0 text-base">
                                <i class="far fa-address-card"></i>
                            </span>
                            manage account
                        </a>
                        <a href="" class="relative text-blue-500 block  hover:text-blue-800 capitalize transition">
                            my order
                        </a>
                        <a href="" class="relative text-blue-500 block  hover:text-blue-800 capitalize transition">
                            profile
                        </a>
                        <a href="" class="relative text-blue-500 block  hover:text-blue-800 capitalize transition">
                            password change
                        </a>
                    </div>
                    <!-- single end -->
                    <!-- single -->
                    <div class="space-y-1 pl-8 pt-2">
                        <a href=""
                            class="relative text-blue-500 block font-medium hover:text-blue-800 capitalize transition">
                            <span class="absolute -left-8 top-0 text-base">
                                <i class="far fa-heart"></i>
                            </span>
                            my wishlist
                        </a>
                    </div>
                    <!-- single end -->
                    <!-- single -->
                    <div class="space-y-1 pl-8 pt-2">
                        <a href=""
                            class="relative text-blue-500 block font-medium hover:text-blue-800 capitalize transition">
                            <span class="absolute -left-8 top-0 text-base">
                                <i class="fa-solid fa-right-from-bracket"></i>
                            </span>
                            logout
                        </a>
                    </div>
                    <!-- single end -->
                </div>
            </div>

            <div class="col-span-9 grid grid-cols-1 gap-4">
                <div class="col-span-9 space-y-4">
                    <!-- wish list -->
                    <div class="flex items-center justify-between gap-6 p-3 border border-gray-200 rounded">
                        <div class="flex shrink-0 h-24 w-32">
                            <img :src="('assets/frontend/img/products/product-1.jpg')" class="w-full">
                        </div>
                        <div class="w-1/1">
                            <h2 class="text-gray-800 text-xl font-medium uppercase">deneme</h2>
                            <p class="text-gray-500 text-sm">
                                Status: <span class="text-green-600">In Stock</span>
                            </p>
                        </div>
                        <div class="text-blue-500 text-lg">132.00 €</div>
                        <a href=""
                            class="px-6 py-2 text-center text-sm text-white font-medium bg-blue-500 border border-blue-500 rounded hover:bg-blue-800 transition">in
                            den Warenkorb</a>
                        <div class="text-gray-600 cursor-pointer hover:text-blue-500">
                            <i class="fas fa-trash"></i>
                        </div>
                    </div>
                    <!-- wish list end -->
                </div>
            </div>

        </div>
        <!-- user end -->
    </FrontendLayout>
</template>

<script>
import { Link } from '@inertiajs/vue3';
import FrontendLayout from '@/Layouts/FrontendLayout.vue';

export default {
    components: {
        Link,
        FrontendLayout,
    },

}
</script>