<template>
    <AdminLayout>
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex bg-white align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                </div>

                <!-- Content Row -->
                <!-- Content Row -->

                <div class="row">
                </div>

                <!-- Content Row -->
                <div class="row">
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
    </AdminLayout>
</template>

<script>
import { Link } from '@inertiajs/vue3';
import AdminLayout from '@/Layouts/AdminLayout.vue';

export default {
    components: {
        Link,
        AdminLayout,
    },

}
</script>


<!-- <template> 
<AdminLayout>
<div class="container w-50 mt-4">
    Web
</div>
</AdminLayout>
</template>

<script>
import { Link } from '@inertiajs/vue3';
import AdminLayout from '@/Layouts/AdminLayout.vue';

export default {
    components: {
        Link,
        AdminLayout,
    },

}
</script> -->
