<template>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <Sidebar />
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" style="background-color: white;">

            <!-- Main Content -->
            <div id="content">

                <Header />
                <slot />
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <Footer />
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <!-- <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div> -->
</template>

<script>
import '/node_modules/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css';
import '/node_modules/startbootstrap-sb-admin-2/css/sb-admin-2.min.css';
import '/node_modules/startbootstrap-sb-admin-2/vendor/jquery/jquery.min.js';
import '/node_modules/startbootstrap-sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js';
import '/node_modules/startbootstrap-sb-admin-2/vendor/jquery-easing/jquery.easing.min.js';
import '/node_modules/startbootstrap-sb-admin-2/js/sb-admin-2.min.js';
// import '/node_modules/startbootstrap-sb-admin-2/vendor/chart.js/Chart.min.js';
// import '/node_modules/startbootstrap-sb-admin-2/js/demo/chart-area-demo.js';
// import '/node_modules/startbootstrap-sb-admin-2/js/demo/chart-pie-demo.js';

import { Link } from '@inertiajs/vue3';
import Header from '../Pages/Admin/Components/header.vue';
import Sidebar from '../Pages/Admin/Components/sidebar.vue';
import Footer from '../Pages/Admin/Components/footer.vue';

export default {
    components: {
        Link,
        Header,
        Sidebar,
        Footer,
    },

    props: {
        user: Object,
        cartItem: Object,
    },

}

</script>



<!-- <template> 
<Sidebar />
<slot/>
</template>
    
<script>
import { Link } from '@inertiajs/vue3';
import Sidebar from '../Pages/Admin/Components/sidebar.vue';
    
    export default {
        components: {
            Link,
            Sidebar,
        },
    
    }
</script> -->