<template>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Onlineshop</title>
        <link rel="stylesheet" href="/resources/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    </head>

    <body>

        <!-- header -->
        <Header/>

        <slot />

        <!-- footer -->
        <Footer />

    </body>

    </html>
</template>

<script>
import { Link } from '@inertiajs/vue3';
import Header from '../Pages/Frontend/Components/header.vue';
import Footer from '../Pages/Frontend/Components/footer.vue';

// import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css';

export default {
    components: {
        Link,
        Header,
        Footer,
    },

}

</script>
